<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"  href="/style.css">
    <script src="/main.js"></script>
    <title>Bingo Game</title>

</head>

<body>
    <header>
        <div class="header">
            <div class="main-content">
                <div class="sign-login">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/users/register">
                                <span class="glyphicon glyphicon-user"></span> Register</a>
                        </li>
                        <li>
                            <a href="/users/login">
                                <span class="glyphicon glyphicon-log-in"></span> Login</a>
                        </li>
                        <li>
                            <a href="/users/logout">
                                <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="header-inner">
                    <img src="/img/bingo.png">
                    <h1>
                        <a href="/">Bingo Game</a>
                    </h1>
                    <h4>Simple Bingo Game For Everyone...</h4>
                    <img src="/img/bingo.png">
                </div>
            </div>
        </div>
    </header>
    {{{body}}}
</body>

</html>