<center>
    <main class="items">
        <div class="choose-lists">
            <h2>-Choose Your Ticket-</h2>
        </div>

        <div class="column">
            <div class="grid-container" id="grid1">
                <div id="item1"></div>
                <div id="item2"></div>
                <div id="item3"></div>
                <div id="item4"></div>
                <div id="item5"></div>
                <div id="item6"></div>
                <div id="item7"></div>
                <div id="item8"></div>
                <div id="item9"></div>
                <div id="item10"></div>
                <div id="item11"></div>
                <div id="item12"></div>
                <div id="item13"></div>
                <div id="item14"></div>
                <div id="item15"></div>
                <div id="item16"></div>
                <div id="item17"></div>
                <div id="item18"></div>
                <div id="item19"></div>
                <div id="item20"></div>
                <div id="item21"></div>
                <div id="item22"></div>
                <div id="item23"></div>
                <div id="item24"></div>
                <div id="item25"></div>
                <div id="item26"></div>
                <div id="item27"></div>
                <div id="item28"></div>
                <div id="item29"></div>
                <div id="item30"></div>
                <div id="item31"></div>
                <div id="item32"></div>
                <div id="item33"></div>
                <div id="item34"></div>
                <div id="item35"></div>
                <div id="item36"></div>
                <div id="item37"></div>
                <div id="item38"></div>
                <div id="item39"></div>
                <div id="item40"></div>
                <div id="item41"></div>
                <div id="item42"></div>
                <div id="item43"></div>
                <div id="item44"></div>
                <div id="item45"></div>
                <div id="item46"></div>
                <div id="item47"></div>
                <div id="item48"></div>
                <div id="item49"></div>
                <div id="item50"></div>
                <div id="item51"></div>
                <div id="item52"></div>
                <div id="item53"></div>
                <div id="item54"></div>
            </div>
            <div class="btn-class">
                <button id="ticketBtn" class="btn btn-danger" type="button" onclick="generateTicket();">Generate Ticket</button>
            </div>
        </div>

        <div class="demo">
            <div id="demo"></div>

            <button type="button" class="btn btn-danger btn-block" onclick="startGame();">START GAME</button>

        </div>

    </main>
</center>